In [3]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic : Max, Min, Range, Mean, Mode, Var, Std for numeric Column
data = pd.read_csv("airlines_flights_data.csv")

target_col = ['duration','days_left','price']

for dt in target_col:
    # Convert to int
    data[dt] = pd.to_numeric(data[dt], errors='coerce')
    
    # Remove NaN
    data = data.dropna(subset=[dt])

    max_val = data[dt].max()
    min_val = data[dt].min()
    range_val = max_val - min_val
    mean = round(data[dt].mean(),2)
    mode = round(statistics.mode(data[dt]),2)
    var = round(np.nanvar(data[dt],ddof=1),2)
    std = round(var ** 0.5,2)

    print(f"Max of {dt.title()} : {max_val}")
    print(f"Min of {dt.title()} : {min_val}")
    print(f"Range of {dt.title()} : {range_val}")
    print(f"Mean of {dt.title()} : {mean}")
    print(f"Mode of {dt.title()} : {mode}")
    print(f"Variance of {dt.title()} : {var}")
    print(f"Standard Deviance of {dt.title()} : {std}\n")

Max of Duration : 49.83
Min of Duration : 0.83
Range of Duration : 49.0
Mean of Duration : 12.22
Mode of Duration : 2.17
Variance of Duration : 51.72
Standard Deviance of Duration : 7.19

Max of Days_Left : 49
Min of Days_Left : 1
Range of Days_Left : 48
Mean of Days_Left : 26.0
Mode of Days_Left : 25
Variance of Days_Left : 183.9
Standard Deviance of Days_Left : 13.56

Max of Price : 123071
Min of Price : 1105
Range of Price : 121966
Mean of Price : 20889.66
Mode of Price : 54608
Variance of Price : 515188643.4
Standard Deviance of Price : 22697.77

In [4]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic for Average Airline Flight Duration, Days Left, and Price
data = pd.read_csv("airlines_flights_data.csv")

# Unique values for Medical Condition
airline_groups = data['airline'].unique().tolist()

avg_columns = ["duration","days_left","price"]

results = []
for airline in airline_groups:
    airline_data = data[data['airline'] == airline]
    total_flight = airline_data['index'].count()
    
    result_row = {
        'Airline': airline,
        'Total Flight': total_flight,
    }

    for col in avg_columns:
        result_row[f'Average Airline {col}'] = round(airline_data[col].mean(), 2)

    results.append(result_row)

# Sort
res_df = pd.DataFrame(results)
res_df = res_df.sort_values(by='Total Flight', ascending=False)
res_df

,Airline,Total Flight,Average Airline duration,Average Airline days_left,Average Airline price
2,Vistara,127859,13.33,25.89,30396.54
5,Air_India,80892,15.50,25.50,23507.02
4,Indigo,43120,5.80,26.26,5324.22
3,GO_FIRST,23173,8.76,27.43,5652.01
1,AirAsia,16098,8.94,27.74,4091.07
0,SpiceJet,9011,12.58,24.12,6179.28

In [12]:
import pandas as pd
import statistics
import numpy as np

# Display Option
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic for Flight With Most Longest Duration
data = pd.read_csv("airlines_flights_data.csv")

data['duration'] = pd.to_numeric(data['duration'], errors='coerce')
data['price'] = pd.to_numeric(data['price'], errors='coerce')

# Sort & Limit
top_10_duration = data.sort_values(by='duration', ascending=False).head(10)

result = top_10_duration[['airline', 'flight', 'source_city','destination_city', 'duration','price']]
print(result)

          airline  flight source_city destination_city  duration  price
194359  Air_India  AI-672     Chennai        Bangalore     49.83  17538
193889  Air_India  AI-672     Chennai        Bangalore     49.83  23891
261152  Air_India  AI-610   Bangalore          Chennai     47.75  55122
119508  Air_India  AI-610   Bangalore          Chennai     47.75   7461
193926    Vistara  UK-822     Chennai        Bangalore     47.08  17223
293606  Air_India  AI-429     Chennai        Bangalore     45.83  51928
194141  Air_India  AI-429     Chennai        Bangalore     45.83  12813
194650  Air_India  AI-429     Chennai        Bangalore     45.83  12813
197808  Air_India  AI-539     Chennai          Kolkata     44.50  32439
170753  Air_India  AI-840   Hyderabad          Kolkata     42.00  33853